*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3rem;
}

.count{
    font-size: 4rem;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.increment,.decrement{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    background-color: #343a40;
    color: white;
    box-shadow: white;
}